body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4d2f03;
    color: #edfdff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #ffffff;
    text-decoration: solid;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

section {
    background-color: #f7f7f7;
    padding: 20px;  
    margin-bottom: 20px;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

ul {
    list-style: none;  
    margin: 0;  
    padding: 0;
}

li {  
    margin-bottom: 20px;  
}

/* img {
    width: 80%;  
    height: 80%;  
    object-fit: cover;  
    border-radius: 10px;  
} */

.galeri {  
    display: flex;  
    flex-wrap: wrap;  
    justify-content: center;
    width: 50%;  
    height: 50%; 
    object-fit: fill;
    object-fit: cover;
    border-radius: 20px;  
}  
        
.galeri img {  
    width: 50%;  
    height: 50%; 
    object-fit: fill;
    object-fit: cover;
    border-radius: 20px;
}
 .gambar2 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 99vh;
    height: 700px;
    object-fit: cover;
    border-radius: 20px;

}
 .gambar1 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 99vh;
    height: 500px;
    object-fit: cover;
    border-radius: 20px;
}
.gambar3 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 99vh;
    height: 500px;
    object-fit: cover;
    border-radius: 20px;
}