body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4d2f03;
    color: #edfdff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #ffffff;
    text-decoration: solid;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

section {
    background-color: #f7f7f7;
    padding: 20px;  
    margin-bottom: 20px;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

ul {
    list-style: none;  
    margin: 0;  
    padding: 0;
}

li {  
    margin-bottom: 20px;  
}

img {  
    width: 100%;  
    height: auto;  
    object-fit: cover;  
    border-radius: 10px;  
}

.galeri {  
    display: flex;  
    flex-wrap: wrap;  
    justify-content: center;  
}  
        
.galeri img {  
    width: 200px;  
    height: auto;  
    margin: 10px;  
}